*.obj
*.o
*.il
*.bak
*.tds
*.tr2
*.td2
*.tmp
*.asm
*.exe
*.map
*.lib
*.tlog
*.pdb
*.rel
*.i
*.res
*.manifest
*.lastbuildstate
*.idb
*.sdf
*.suo
*manifest.rc
*.opensdf
*.log
*.user
*.old
*.lss
*.odx
*.ods
*.icd
q
q.*
q1.*
q2.*
x86/*.cpp
x86/q*.h
